body {
	background: url("../img/bg.png");
	background-color: #15212d;
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
}
@media screen and (max-width: 700px){
	body {
		background: url("../img/bg-mobile.png");
		background-color: #15212d;
		background-position: 100% 0px;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
}
.navbar {
	background-color: rgba(0,0,0,0.3);
	border: none;
}
.content {
	background: rgba(255,255,255,1);
	padding: 30px;
	margin-top: 900px;
	margin-left: 2.5%;
	width: 95%;
}
@media screen and (max-width: 700px){
	.content{
		margin-top: 500px;
	}
}
.col-md-12 {
	background-color: none;
}
h1 {
	color: black;
	margin-top: 40px;
	text-transform: uppercase;
	text-align: center;
}
@media screen and (max-width: 950px){
	h1 {
		font-size: 27px;
	}
}
@media screen and (max-width: 750px){
	h1{
		font-size: 24px;
	}
}
p {
	color: black;
}

/****************** title *********************/
.bandname {
	color: white;
	margin-top: 100px;
}
/****************** SOCIAL *********************/
.social {
	padding-left: 25px;
}
.social i {
	color: white;
	margin-left: 15px;
	vertical-align: middle;
}
.social a:hover {
	text-decoration: none;
}
.social img {
	margin-left: 15px;
	width: 30px;
}
@media screen and (max-width: 1200px){
	.social i, .social img {
		margin-left: 5px;
	}
}
@media screen and (max-width: 985px) and (min-width: 601px){
	.social {
		padding-left: 35%;
	}
}
@media screen and (max-width: 600px){
	.social {
		padding-left: 29%;
	}
}
@media screen and (max-width: 500px){
	.social {
		padding-left: 24%;
	}
}
@media screen and (max-width: 400px){
	.social {
		padding-left: 18%;
	}
}
@media screen and (max-width: 350px){
	.social {
		padding-left: 13%;
	}
}
@media screen and (max-width: 325px){
	.social {
		padding-left: 10%;
	}
}

/****************** NEWSLETTER *********************/
.newsletter {
	border: 1px solid white;
	border-radius: 5px;
	color: white;
	display: block;
	font-weight: bold;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
	text-transform: uppercase;
	width: 250px;
}
.newsletter:hover {
	background: white;
	color: black;
	text-decoration: none;
}
/****************** NEW ALBUM *********************/
.newAlbum .col-md-12{
	border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
@media screen and (max-width: 600px) {
	.newAlbum .col-md-12{
		margin-bottom: -90px;
		padding-bottom: 75px;
	}
}
.newAlbum img {
    margin-left: 4%;
    margin-bottom: 25px;
    width: 92%;
}
@media screen and (max-width: 700px){
	.newAlbum img {
		margin-bottom: -50px;
	}
}
/****************** VIDEO *********************/
.youtube{
	margin-bottom: 300px;
}
.youtube-video-1{
	height: 315px;
	margin-left: 10%;
	width: 90%;
}
.youtube-video-2{
	height: 315px;
	margin-right: 10%;
	width: 87%;
}
@media screen and (max-width: 999px){
	.youtube-video-1,
	.youtube-video-2 {
		height: 300px
	}
}
@media screen and (max-width: 499px){
	.youtube-video-1,
	.youtube-video-2 {
		height: 200px
	}
}
@media screen and (max-width: 350px){
	.youtube-video-1,
	.youtube-video-2 {
		height: 140px
	}
}
@media screen and (max-width: 1200px){
	.youtube iframe{
		margin-left: 0%;
		width: 100%;
	}
}

.youtube img {
	width: 77%;
	max-width: 300px;
}
.youtube-img-2 {
	margin-left: 65px;
}
@media screen and (max-width: 1000px){
	.youtube img {
		display: none;
	}
}
@media screen and (max-width: 700px){
	.youtube img {
		margin: 50px auto 0px;
		display: block;
		width: 100%;
	}
}
@media screen and (max-width: 699px){
	.youtube img {
		display: none;
	}
}
@media screen and (max-width: 700px){
	.youtube {
		margin-bottom: 0px;
	}
}
hr {
	border-color: #ccc;
}
.col-md-12 hr {
	margin-top: 50px;
	margin-bottom: 50px;
}

/****************** TOUR *********************/
.bit-track-artist-header {
	border-top:none !important;
	border-bottom: none !important;
}
.tour-title {
	color: black;
	font-size: 50px;
	padding-left: 0;
	padding-right: 0;
}
@media screen and (max-width: 1000px){
	.tour-title {
		font-size: 27px;
		float: left;
		width: 50%;
	}
}
@media screen and (max-width: 750px){
	.tour-title {
		font-size: 24px;
		float: left;
		width: 50%;
	}
}
@media screen and (max-width: 650px){
	.tour-title {
		font-size: 20px;
		float: left;
		width: 50%;
	}
}
@media screen and (max-width: 550px){
	.tour-title {
		font-size: 18px;
		float: left;
		width: 50%;
	}
}
@media screen and (max-width: 500px){
	.tour-title {
		font-size: 16px;
		float: left;
		width: 50%;
	}
}
@media screen and (max-width: 400px){
	.tour-title {
		font-size: 12px;
		float: left;
		width: 50%;
	}
}
.tourDates  {
	height: 1600px;
}
@media screen and (max-width: 700px){
	.tourDates {
		height: 600px;
	}
}
@media screen and (max-width: 500px){
	.tourDates {
		padding-top: 0;
	}
}
.tourScript {
	background: rgba(255,255,255,0.7); 
	border-radius: 5px;
	padding: 20px;
}
@media screen and (max-width: 499px){
	.tourScript {
		padding: 0;
		margin: 0;
	}
	.tourDates .col-md-offset-3 {
		margin-left: 0;
	}
	.tourDates .col-md-6 {
		margin-left: 0;
		padding-left: 0;
	}
	.tourDates td {
		font-size: 80%;
	}
}
.table-wrapper {
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
}

table {
	margin: 0 0 2em 0;
	width: 100%;
}
@media screen and (max-width: 700px){
	table {
		font-size: 75%;
	}
}
table tbody tr {
	
	border-left: 0;
	border-right: 0;
}
table tbody tr:nth-child(2){
	height: 40px;
}
table tbody tr:nth-child(2n + 1) {
	background-color: rgba(144, 144, 144, 0.075);
}

table td {
	padding: 1.75em .75em;
}

table th {
	color: #61686b;
	font-size: 0.9em;
	font-weight: 700;
	padding: 0 0.75em 0.75em 0.75em;
	text-align: left;
}


/****************** FOOTER *********************/

footer {
	background: #111;
	padding-top: 20px;
	padding-bottom: 20px;
}
footer p,
footer a {
	color: white;
	text-align: center;
}
footer a:hover {
	color: white;
}
