body {
	background: url("../img/background.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
}
.navbar {
	background-color: rgba(0,0,0,0.3);
	border: none;
}
.content {
	background: rgba(255,255,255,0.6);
	padding: 30px;
}
.col-md-12 {
	background-color: none;
}
h1 {
	color: #575756;
	margin-top: 50px;
	margin-bottom: 30px;
	text-transform: uppercase;
	text-align: center;
}
p {
	color: #575756;
}
hr {
	border: 0.25px dotted #bbb;
}
/****************** SOCIAL *********************/
.social {
	padding-left: 25px;
}
.social i {
	color: #61686b;
	margin-left: 15px;
	vertical-align: middle;
}
.social a:hover {
	text-decoration: none;
}
.social img {
	margin-left: 15px;
}
/****************** NEWSLETTER *********************/
.newsletter {
	border: 1px solid #575756;
	border-radius: 5px;
	color: #575756;
	font-weight: bold;
	margin-left: 40%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	text-transform: uppercase;
}
.newsletter:hover {
	background: rgba(255,255,255,0.5);
	border-color: #444;
	color: #444;
	text-decoration: none;
}
/****************** VIDEO *********************/
.youtube {
	margin-top: 100px;
}
.youtube iframe {
	margin-left: 25%;
}
.youtube2 iframe{
	margin-left: 10%;
}
.youtube2 p {
	background: rgba(255,255,255,0.7); 
	border-radius: 5px;
	float: right;
	font-size: 16px;
	margin-right: 10%;
	padding: 20px;
	width: 28%;
}
/****************** NEW ALBUM *********************/
.newAlbumText {
	color: #575756;
	font-size: 90px;
	padding-top: 50px;
	text-align: center;
	padding-right: 9%;
}
.newAlbum img {
	margin-left: 18%;
	width: 310px;
}
/****************** TOUR *********************/
.tourDates {
	margin-top: 550px;
}
.tourScript {
	background: rgba(255,255,255,0.7); 
	border-radius: 5px;
	padding: 20px;
}
.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

table {
	margin: 0 0 2em 0;
	width: 100%;
}

table tbody tr {
	
	border-left: 0;
	border-right: 0;
}
table tbody tr:nth-child(2){
	height: 40px;
}
table tbody tr:nth-child(2n + 1) {
	background-color: rgba(144, 144, 144, 0.075);
}

table td {
	padding: 1.75em .75em;
}

table th {
	color: #61686b;
	font-size: 0.9em;
	font-weight: 700;
	padding: 0 0.75em 0.75em 0.75em;
	text-align: left;
}


/****************** BIO *********************/
.bio {
	margin-top: 700px;
}
.bio-content{
	background-color: rgba(255,255,255,0.7);
	border-radius: 5px;
	font-size: 16px;
	margin-left: 25%;
	padding: 20px;
	width: 50%;
}
/****************** FOOTER *********************/

footer {
	background: #111;
	padding-top: 20px;
	padding-bottom: 20px;
}
footer p,
footer a {
	color: white;
	text-align: center;
}
footer a:hover {
	color: white;
}